# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY=AQ.Ab8RN6K4yDTK8yZ9J5RS8QBDAKlOp2TkbunocWf_akARYnAFKQ

# Supabase Auth Configuration
SUPABASE_URL=https://wrcuorhnvupadimpxdek.supabase.co
SUPABASE_ANON_KEY=sb_publishable_7RY5MTiFmr2pn_L5JidFyQ_GdfGhWZV

